/.cache
/extsrc
/console.devmode.log
.vagrant
target
*.tlog
*.*~
*.db
*.swp
project/target
test-reports
*.log
*.tlog
test-reports
.cache
.classpath
.history
.project
.settings/org.scala-ide.sdt.core.prefs
/bin
*/*.jar
.ivy2
.sbt
dev
*.txt

# intellij specific
*.iml
*.ipr
*.iws
.idea
node_modules/
**/assets-src/build/source/

